<a {% for attrib, value in action.attr -%} {% if attrib == 'class' %}{% else %}{{- attrib -}}="{{- value -}}"{% endif %} {%- endfor %}title="{{action.title}}" class="btn btn-xs {{action.severity}}{% if xtra is defined %} lg-xtra-action hide{% endif %}" href="{{action.route}}">
    {%- if action.icon is defined -%}<span class="fa {{action.icon}}"></span>{%- endif %} {{ action.name -}}
</a>