{% if cell.attr['width'] is defined %}
    {% set width = cell.attr['width'] %}
{% endif %}
{% set boolean = cell.options.boolean is defined %}
{% set money = cell.options.money is defined %}
{% set edit = cell.options.edit is defined %}
{% set float = cell.options.float is defined %}
{% set group = cell.options.group is defined %}
{% if buttonNum is defined %}
{% else %}
    {% set buttonNum = 4 %}
{% endif %}
{% if buttonWidth is defined %}
{% else %}
    {% set buttonWidth = 23 %}
{% endif %}
{% if buttonPadding is defined %}
{% else %}
    {% set buttonPadding = 6 %}
{% endif %}
{%- if cell.value.timestamp is defined -%}
    {% set value = cell.value|date('Y-m-d') %}
{%- elseif cell.link is defined -%}
    {% set value = cell.link|raw %}
{%- elseif cell.html is defined -%}
    {% set value = cell.value|replace({'{':'', '}':''})|raw %}
{%- elseif boolean -%}
    {% set value = cell.value|boolean %}
{%- elseif money -%}
    {% set value = cell.value|number_format(0, '.', ',') %}
{%- else -%}
    {% set value = cell.value|replace({'{':'', '}':''})|trim %}
{%- endif -%}
<{{- cell.type }} {% for attrib, value in cell.attr -%}{%- if attrib != "width" and attrib !="title" -%}{{- attrib -}}="{{- value|replace({'{':'', '}':''})|trim -}}" {%- endif -%}{%- endfor -%} {% if cell.attr['title'] is defined and 'th' == cell.type -%}title="{{cell.attr['title']}}"{% elseif cell.attr['title'] is defined and 'td' == cell.type -%}title="{{value}}"{%- elseif boolean -%} title="{{cell.value|boolean(false)}}"{%- else -%} title="{{- value|replace({'{':'', '}':''}) -}}"{%- endif -%}
    {%- include 'LighthartGridBundle:Cell:cellWidth.html.twig' -%}
    >{{-''-}}
{%- if cell.actions is defined -%}
    {% include 'LighthartGridBundle:Action:actions.html.twig' with {'actions': cell.actions} %}
{%- elseif cell.statuses is defined -%}
    {% include 'LighthartGridBundle:Status:statuses.html.twig' with {'status': cell.statuses} %}
{%- elseif group and not boolean -%}
    {%- include 'LighthartGridBundle:Cell:list.html.twig' with {'list' : value } %}
{% elseif edit and cell.options.aggregate is not defined %}
    {% if money %}
        {% if cell.value is not null %}
            {% if cell.value >= 0 %}
                <input type="text" class="lg-edit-field money positive text-right" value="{{- value -}}" data-role-lg-money="1"/>
            {% else %}
                <input type="text" class="lg-edit-field money negative text-right" value="({{- value -}})" data-role-lg-money="1"/>
            {% endif %}
        {% else %}
            <input type="text" class="lg-edit-field money positive text-right" data-role-lg-money="1"/>
        {% endif %}
        {% else %}
        <input type="text" class="lg-edit-field" value="{{- cell.value -}}"/>
    {% endif %}
{%- elseif cell.attr.checkbox is defined -%}
    {% include 'LighthartGridBundle:Control:checkbox.html.twig' %}
{%- elseif cell.value or ( boolean and 'th' != cell.type ) -%}
    {%- if cell.attr.emphasis is defined %}<{{- cell.attr.emphasis -}}>{% endif -%}
        {% if money %}
            {% if cell.value >= 0 %}
                <span class="money positive">{{- value -}}</span>
            {% else %}
                <span class="money negative">({{- value -}})</span>
            {% endif %}
        {% else %}
            {{- value|raw -}}
        {% endif %}
        {%- if cell.attr.emphasis is defined %}</{{cell.attr.emphasis}}>{% endif -%}
{%- elseif 'th' == cell.type -%}
    {%- if cell.attr.filter is defined and cell.attr.filter %}
    {%- include 'LighthartGridBundle:Control:filterControl.html.twig' %}
    {%- elseif cell.header is defined and cell.header -%}
        {%- if cell.options.titleHtml is defined and cell.options.titleHtml -%}
            {{- cell.header|raw -}}
        {%- else -%}
            {{- cell.header -}}
        {%- endif -%}
    {%- endif -%}
    {%- include 'LighthartGridBundle:Cell:sort.html.twig' %}
    {%- endif -%}{{-''-}}
    {# {{dump(cell.options)}} #}
</{{- cell.type -}}>