{%- if cell.value.timestamp is defined -%}
    {% set value = cell.value|date('Y-m-d') %}
{%- elseif cell.html is defined -%}
    {% set value = cell.value|raw %}
{%- else -%}
    {% set value = cell.value|trim %}
{%- endif -%}
<{{- cell.type }} {% for attrib, value in cell.attr -%}{{- attrib -}}="{{- value -}}" {%- endfor -%} {% if cell.attr['width'] is defined %}style="width:{{cell.attr['width']}};"{% endif %} {% if cell.attr['title'] is defined and 'td' == cell.type %}{% else %} title="{{- value -}}"{%- endif %}>{{-''-}}
{%- if cell.actions is defined -%}
    {% include 'LighthartGridBundle:Action:actions.html.twig' with {'actions': cell.actions} %}
{%- elseif cell.statuses is defined -%}
    {% include 'LighthartGridBundle:Status:statuses.html.twig' with {'status': cell.statuses} %}
{%- elseif cell.attr.checkbox is defined -%}
    <input type="checkbox"/>
{%- elseif cell.value -%}
    {%- if cell.attr.emphasis is defined %}
        <{{cell.attr.emphasis}}>
        {% endif %}
        {{value}}
        {% if cell.attr.emphasis is defined %}
        </{{cell.attr.emphasis}}>
    {% endif -%}
{%- elseif 'th' == cell.type -%}
    {%- if cell.attr.filter is defined %}
        <input type="text" id="lg-filter-{{cell.attr['data-role-lg-class']}}__{{cell.attr['data-role-lg-field']}}" class="lg-filter-input"/>
    {%- elseif cell.options.titleHtml is defined and cell.options.titleHtml -%}
        {{- cell.title|raw -}}
    {%- else -%}
        {{- cell.title -}}
    {%- endif -%}
    {%- if cell.options.sort is defined -%}
        <span class="fa-stack pull-right lg-sort">
            <span class="fa fa-sort fa-stack-1x" style="color:#999999"></span>
            {% if 1 %}
                <span class="fa fa-sort-up fa-stack-1x" style="color:#000000"></span>
            {% elseif 1 %}
                <span class="fa fa-sort-down fa-stack-1x" style="color:#000000"></span>
            {% else %}
            {% endif %}
        </span>
    {% else %}
    {%- endif -%}
    {%- endif -%}{{-''-}}
</{{- cell.type -}}>