 <{{- cell.type }} {% for attrib, value in cell.attr -%}{{- attrib -}}="{{- value|trim -}}"{%- endfor -%} title="{% if noResults is defined %}{{noResults}}{% else %}No results{%- endif -%}">{{-''-}}
{% if noResults is defined %}
    {{noResults}}
{% else %}
    No results
{% endif %}
</td>