<span {% for attrib, value in status.attr -%}{% if attrib == 'class' %}{% else %}{{- attrib -}}="{{- value -}}"{% endif %} {%- endfor -%} class="badge {{status.severity}}{% if xtra is defined %} lg-xtra-status hide{% endif %}" title="">
    <span class="fa {{status.icon}}"></span> {{ status.name -}}
</span>