{% block grid %}
    {% spaceless %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    {% for field in fields %}
                        {% if 'id' == field %}
                            {# DO NOT EVER EDIT IDs #}
                            {# Entity should not have a setID method anyhows #}
                            <th data-role-lg-class="{{class}}" data-role-lg-field="{{field}}" style="width:{{1/(loop.length)*100}}%;">{{field}}</th>
                        {% else %}
                            <th class="lg-editable" data-role-lg-class="{{class}}" data-role-lg-field="{{field}}" style="width:{{1/(loop.length)*100}}%;">{{field}}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr data-role-lg-parent-entity-id="{{entity.id}}">
                        {% for field in fields %}
                            <td data-lg-role-entity-id="{{entity.id}}" date-role-lg-edittype="field">
                                {% if attribute(entity, field).timestamp is defined %}
                                    {{ attribute(entity, field)|date('M d, Y') }}
                                {% else %}
                                    {{ attribute(entity, field) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock grid %}

{% block javascripts %}
    {% include 'LighthartGridBundle:Grid:javascripts.html.twig' %}
{% endblock javascripts %}
