{% if flags is defined %}
    <div class='lg-flags'>
    {% for flagkey, flagtitle in flags %}
        <input id="lg-grid-flag-{{flagkey|lower}}" type="checkbox" class="lg-grid-flag" style="vertical-align:middle;" title="{{flagtitle}}"/>&nbsp;<label for="lg-grid-flag-{{flagkey|lower}}" title="{{flagtitle}}">{{flagkey|capitalize}}</label>&nbsp;
    {% endfor %}
    </div>
{% endif %}