{% extends 'BlackfishBudgetCoreBundle::layout.html.twig' %}
{# Sample Grid #}
{% block content %}
    {% spaceless %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th class="editable" data-role-class="{{class}}" data-role-field="{{field}}">
                            {{field}}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr data-role-parent-entity-id="{{entity.id}}">
                        {% for field in fields %}
                            <td class="editable">
                                {{attribute(entity, field)}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock content %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
        '@LighthartGridBundle/Resources/public/js/tdEdit.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
