{% extends 'AwesomeNiftyBundle::layout.html.twig' %}
{# Sample Grid #}
{% block content %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th class="editable" data-role-class="Awesome_NiftyBundle_Entity_Meeting" data-role-field="groupsize11">Group Size</th>
                <th class="editable" data-role-class="Awesome_NiftyBundle_Entity_Meeting" data-role-field="duration">Duration</th>
                <th data-role-class="Awesome_NiftyBundle_Entity_Meeting" data-role-field="log">Log</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr data-role-parent-entity-id="{{entity.id}}">
                    <td data-role-entity-id="{{entity.id}}">{{entity.key}}</td>
                    <td data-role-entity-id="{{entity.id}}">{{entity.name}}</td>
                    <td data-role-entity-id="{{entity.id}}">{{entity.description}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
        '@LighthartGridBundle/Resources/public/js/tdEdit.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
