{% block resultCount -%}
    <div id="lg-grid-{{ place }}-result-counts" class="lg-grid-control-text lg-grid-result-counts form-group">
        Results&nbsp; {{-grid.offset + 1-}}- {{-((grid.offset + pageSize)> grid.total )? grid.total : grid.offset + pageSize-}} &nbsp; of {{grid.total}}
    </div>{{-''-}}&nbsp;{{-''-}}
{%- endblock resultCount %}